<nav class="navbar navbar-expand-sm bg-light navbar-light">
<ul class="navbar navbar-nav"> 
    <li> 
        <button (click)="onGetAllArticles()" class="btn btn-outline-info ms-2">All</button>
    </li>
    <li> <button class="btn btn-outline-info ms-2">Published</button></li>

</ul>

</nav>

<div class="container" *ngIf="articles$"> 

<table class="table"> 
<tr> 
    <th>ID</th> <th>Name</th> <th>description</th> <th>published</th> <th>prix</th> <th>creaDate</th>
</tr>
<tr *ngFor="let item of articles$| async ">
    <td> {{item.id}}</td>
    <td> {{item.name}}</td>
    <td> {{item.description}}</td>
    <td> {{item.published}}</td>
    <td> {{item.prix}}</td>
    <td> {{item.creaDate}}</td>
</tr>
</table>
</div>